@import "core.scss";

.about {
  @include flex(center, center, column);

  width: 100%;
  margin: 0;
  max-height: 640px;
  min-height: 640px;
}
.container {
  @include flex(center, center, column);
}
.about > * {
  padding: 0 26px;
}
.cards {
  margin-top: 64px;
  @include flex(center, center);
}
.cards > * {
  padding: 0 8px;
}
.promo {
  background-color: #f1f1f1;
  padding: 128px 26px;
  position: relative;
  @include flex(flex-start, space-around);
}
.promo > * {
  padding: 0 10px 0 10px;
}
.promoleft {
  float: left;
  margin: 0;
  padding: 0;
}
.promoleft p {
  font-size: 15px;
  text-align: left;
}
.button {
  background-color: $black;
  color: $white;
  text-transform: initial;
}
.roudImg {
  border-radius: 10px;
}
