@import "core.scss";

.about {
  margin: 0;
  padding: 0;
  @include flex(center, center, column);
  width: 100%;
  max-height: 640px;
  min-height: 640px;
}
.container {
  @include flex(center, center, column);
}

.cards {
  margin-top: 64px;
  @include flex(center, center);
}
.cards > * {
  padding: 0 8px;
}
.promo {
  background-color: #f1f1f1;
  padding: 128px 16px;
  position: relative;
}
