@import "core.scss";

.pricing {
  @include flex(center, center, column);
  width: 100%;
  margin: 0;
  height: auto;
  background: $dark-grey;
  color: $white;
  padding: 128px 0;
}
.container {
  @include flex(center, center, column);
  padding: 0 26px;
  width: inherit;
  box-sizing: border-box;
}

.list {
  @include flex(center, center);
  margin: 0;
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.list > * {
  margin: 0 8px;
}
.addInfo {
  @include flex(flex-start, space-around);
  background-color: #616161;
  margin: 0;
  width: 100%;
  padding: 64px 26px;
  position: relative;
}
.item {
  color: white;
  text-align: center;
  width: 100%;
}
.item span {
  font-size: 36px;
  text-align: center;
}
p > svg {
  padding-right: 10px;
}
