$primary: #008654;
$secondary: #b96cff;
$light-grey2: #f1f1f1;
$dark-grey: #616161;
$space: 2rem;
$field-space: 2.5rem;
$black: #262626;
$white: #fff;
$cancel: #6b6b6b;
$warning: #fce095;
$danger: #e16e6e;
$transition: 0.25s;
$gray: #e5e5e5;
$light-grey: #e9e9e9;
$primary-light: rgba(0, 134, 84, 0.08);
$light-green: rgba(0, 133, 86, 0.5);
