$primary: #008654;
$secondary: #b96cff;

$space: 2rem;
$field-space: 2.5rem;
$black: #262626;
$cancel: #6b6b6b;
$warning: #fce095;
$danger: #e16e6e;
$transition: 0.25s;
$gray: #e5e5e5;
$light-grey: #E9E9E9;
$primary-light: rgba(0, 134, 84, 0.08);
$light-green:  rgba(0, 133, 86, 0.5);
